/*.formContainer {*/
/*  background-color: #333333;*/
/*  padding-left: 10%;*/
/*  padding-right: 10%;*/
/*  height: 200vh;*/
/*}*/

.largeTextBox{
  widith: 80%
}
.reportButton{
  margin: 5px;
}
.smallTextBox{
  padding: 10px;
}


