<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <mat-nav-list class="list-horizontal">
      <span style="font-size: 12px; cursor: pointer;" routerLink="/">GEOWEATHER</span>
      <span style="padding: 15px"></span>
      <span style="font-size: 12px; cursor: pointer;" routerLink="/create-report">Create a Report</span>
    </mat-nav-list>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" routerLink="/profile">account_box</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
